{% extends 'base.html' %}
{% load neworld_filter %}
{% block content %}
<div class="container my-3">
    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <h4 class="border-bottom py-2"><a href="{{ weeklybible.bible_link }}" target="_blank">{{ weeklybible.bible_range }}</a></h4>
    <div class="row my-3">
<!--        <div class="col-1">    &lt;!&ndash; 추천영역 &ndash;&gt;-->
<!--            <div class="card-center">-->
<!--                <div class="center">-->
<!--                    <div class="popup-ajax badge badge-light border mt-3 p-2 px-3"-->
<!--                         data-toggle="popover" data-placement="right"-->
<!--                         data-uri="{% url 'neworld:vote_weeklybible' weeklybible.id %}">-->
<!--                        <i class="fas fa-thumbs-up mr-1"></i>  {{ weeklybible.voter.count }}-->
<!--                    </div>-->
<!--                    <div class="my-action-buttons">-->
<!--                    <a href="#" data-uri="{% url 'neworld:vote_weeklybible' weeklybible.id %}"-->
<!--                        class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-12"> <!-- weeklybible 영역 -->
            <div class="card my-1">
                <div class="card-body">
                    <h6><strong>성서읽기 개요</strong></h6>
                    {% for wbsummary in weeklybible.wbsummary_set.all %}
                    <div class="m-1 p-1" style="white-space:normal">
                        <p class="m-1 p-1" style="white-space:pre-line"><strong>{{ wbsummary.chapter }} 장</strong></p>
                        <p class="m-1 p-1" style="white-space:pre-line">{{ wbsummary.bible_summary }}</p>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light p-2">
                            {{ weeklybible.week }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12"> <!-- Publications Index 영역 -->
            <div class="card my-1">
                <div class="card-body">
                    <h6><strong>출판물 색인</strong></h6>
                    <p class="m-1 p-1" style="white-space:pre-line"><strong>{{ weeklybible.pubsindex_set.chapter }}</strong> <strong> 장 </strong></p>
                    {% for pubsindex in weeklybible.pubsindex_set.all %}
                    <div class="m-1 p-1" style="white-space:normal">
                        <p class="m-1 p-1" style="white-space:pre-line"><a href="{{ pubsindex.pi_link }}" target="_blank">{{ pubsindex.pi_title }}</a></p>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light p-2">
                            {{ weeklybible.week }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">{{ weeklybible.research_set.count }}개의 묵상 및 조사내용이 있습니다.</h5>
    <div class="card bg-light text-dark my-3">
        <div class="card-body border-color:white py-1">
            <div class="card-text">
                <div class="d-flex justify-content" style="border:none">
                    <p class="my-1">이번 주 성경 읽기를 통해 <strong><em>여호와 하느님</em></strong>이나 <strong><em>야외 봉사</em></strong>, 또는 그 밖의 점에 관해 어떤 <strong><em>영적 보물</em></strong>을 발견했습니까?</p>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'neworld:research_create' weeklybible.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
                      name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장" class="btn btn-primary" style="font-weight:bolder">
    </form>
    {% for research in weeklybible.research_set.all %}
    <a name="research_{{ research.id }}"></a>
    <div class="row my-3">
        <div class="col-1">    <!-- 추천영역 -->
            <div class="card-center">
                <div>
                    <div class="popup-ajax badge badge-light border mt-3 p-2 px-3"
                         data-toggle="popover" data-placement="right"
                         data-uri="{% url 'neworld:vote_research' research.id %}">
                        <p>{{ research.voter.count }}</p>
                        <i class="fas fa-thumbs-up mr-1"></i>
                    </div>
                    <div class="my-action-buttons">
                        <a href="#" data-uri="{% url 'neworld:vote_research' research.id %}"
                           class="recommend btn fas fa-thumbs-up center mr-1"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11">  <!-- 연구 조사 내용영역 -->
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ research.content|mark }}</div>
                    <div class="d-flex justify-content-end">
                        {% if research.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ research.modify_date }}</div>
                        </div>
                        {% endif %}
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ research.author.last_name }}{{ research.author.first_name }}</div>
                            <div>{{ research.create_date }}</div>
                        </div>
                    </div>
                    {% if request.user == research.author %}
                    <div class="my-3">
                        <a href="{% url 'neworld:research_modify' research.id %}"
                            class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary "
                            data-uri="{% url 'neworld:research_delete' research.id  %}">삭제</a>
                    </div>
                    {% endif %}
                    {% if research.comment_set.count > 0 %}
                    <div class="mt-3">
                    {% for comment in research.comment_set.all %}
                        <a name="comment_{{ comment.id }}"></a>
                        <div class="comment py-2 text-muted">
                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                            <span>
                                : <span class="small">{{ comment.author.last_name }}{{ comment.author.first_name }}</span>, {{ comment.create_date }}
                                {% if comment.modify_date %}
                                (수정:{{ comment.modify_date }})
                                {% endif %}
                            </span>
                            {% if request.user == comment.author %}
                            <a href="{% url 'neworld:comment_modify_research' comment.id  %}" class="small">수정</a>,
                            <a href="#" class="small delete"
                               data-uri="{% url 'neworld:comment_delete_research' comment.id  %}">삭제</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <div>
                        <a href="{% url 'neworld:comment_create_research' research.id %}"
                           class="small"><small>댓글 추가...</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'neworld:weeklybible' %}" class="btn btn-primary" style="font-weight:bolder"><i class="fas fa-list" ></i>  목록으로</a>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function() {
    $(document).on('click', ".delete", function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(document).on('click', ".recommend", function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}
