{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <div class="row border-bottom">
        <div class="col-6 text-center my-4 py-2">
            <h4>이메일로 로그인</h4>
        </div>
        <div class="col-6 text-center my-4 py-2">
            <a href="{% url 'common:login' %}"><strong>아이디로 로그인</strong></a>
        </div>
    </div>
    <div class="my-4 py-2">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="col-12 text-right">
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}

