{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <div class="row my-4">
        <div class="col-6">
            <h4>이메일로 로그인</h4>
        </div>
        <div class="col-6">
            <a href="{% url 'common:login' %}"><strong>아이디로 로그인</strong></a>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'common:request_login_via_url' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="my-4">
            <button type="submit" class="btn btn-primary">로그인</button>
        </div>
    </form>
</div>
{% endblock %}

