<!-- 네비게이션바 -->

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    {% if request.user.username == "gfc" %}
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    {% else %}
  <a class="navbar-brand" href="{% url 'index' %}">NEWORLD</a>
    {% endif %}
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="menu_tab">
            {% if request.user.is_authenticated %}
            {% if request.user.username != "gfc" %}
            <a class="nav-link " href="{% url 'neworld:scripture' %}" style="font-weight:bolder">성구묵상</a>
            {% endif %}
            {% endif %}
        </li>
            {% if request.user.is_authenticated %}
            {% if request.user.username != "gfc" %}
        <li class="nav-item" id="menu_tab">
            <a class="nav-link " href="{% url 'neworld:weeklybible' %}" style="font-weight:bolder">주간성서읽기</a>
            {% endif %}
            {% endif %}
        </li>
            {% if request.user.is_authenticated %}
            {% if request.user.username != "gfc" %}
        <li class="nav-item" id="menu_tab">
            <a class="nav-link " href="{% url 'neworld:question' %}" style="font-weight:bolder">게시판</a>
            {% endif %}
            {% endif %}
        </li>
            {% if request.user.username == "gfc" %}
        <li class="nav-item" id="menu_tab">
            <a class="nav-link " href="{% url 'neworld:customer' %}" style="font-weight:bolder">Business</a>
            {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            {% if request.user.is_authenticated %}
                <a href="{% url 'common:profile' user.id %}"
                   class="btn btn-primary">마이페이지 ({{ user.username }})</a>
                <a href="{% url 'common:logout' %}" style="font-weight:bold"
                   class="btn btn-primary">로그아웃</a>
            {% else %}
                <a href="{% url 'common:login' %}" style="font-weight:bold"
                    class="btn btn-sm btn-primary">로그인</a>
            {% endif %}
        </li>
    </ul>
  </div>
</nav>

